# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build output
dist/

# Logs
logs/*
!logs/.gitkeep

# Uploads
uploads/*
!uploads/.gitkeep

# Prisma generated client (if you use a custom output)
src/generated/prisma/